<!DOCTYPE html>
<html>
    <head>
        <title>Here is your information</title>
        </head>
        <body>
            <h1>Dates of tournaments</h1>
            <p>here are all the dates of the tournaments</p>
            <h1>Bar Menu</h1>
            <p>here are the menu items</p>
            <h1>Reserve and pay online</h1>
            <p>hee are all the items needed to reserve and pay for a lane online</p>
        </body>
</html>
        
